.container {
  background-color: var(--gl-1);
  box-shadow: var(--shadow-dark);
  margin: 8rem auto;
  height: 100vh;
  max-width: 120rem;
}

.header {
  font-size: 1.4rem;
  background-color: #fff;
  height: 7rem;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--gd-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  flex-grow: 1;
  background-color: #fff;
}

///////DETAILS///////////
.details {
  font-size: 1.4rem;
  display: flex;
  flex-wrap: wrap;
  padding: 4.5rem;
  background-color: var(--gl-2);
  border-bottom: blue;
}

.description {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  flex: 0 0 60%;
  padding: 3rem;
  margin-right: 4.5rem;
}

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
